n8n/workflows/agent-trigger.json
{
  "name": "Agent Trigger Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MASTRA_URL }}/api/agents/assistant/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: $json.body.message, context: $json.body.context }) }}",
        "options": {}
      },
      "id": "http-1",
      "name": "Call Mastra Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mastra-auth",
          "name": "Mastra Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CONVEX_URL }}/api/mutation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: 'functions/mutations:logAgentActivity', args: { agentId: 'assistant', type: 'completed', message: $json.result } }) }}",
        "options": {}
      },
      "id": "http-2",
      "name": "Store Result in Convex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, result: $('Call Mastra Agent').item.json }) }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Mastra Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Mastra Agent": {
      "main": [
        [
          {
            "node": "Store Result in Convex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Result in Convex": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["agent-kit", "template"],
  "pinData": {}
}
